body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.grid_10 {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 250px;
  margin-top: 50px;
}

.block {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

.odd {
  background-color: #f9f9f9;
}

.gradeX {
  transition: background-color 0.3s ease;
}

.gradeX:hover {
  background-color: #e0e0e0;
}

.action-links a {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
}
.add-category {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.add-category:hover {
  background-color: #45a049;
}
.add-brand {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.add-brand:hover {
  background-color: #45a049;
}
#layoutSidenav {
  display: flex;
  overflow: hidden;
}

#layoutSidenav_nav {
  flex: 0 0 250px; /* Độ rộng cố định cho sidebar */
  overflow-y: auto;
}

#layoutSidenav_content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
/* styles.css */
.save-button {
  background-color: #4caf50; /* Màu xanh lá cây */
  color: white; /* Màu chữ trắng */
  padding: 10px 20px; /* Kích thước nút */
  border: none; /* Loại bỏ đường viền */
  border-radius: 5px; /* Bo góc */
  cursor: pointer; /* Hiệu ứng khi di chuột */
  text-align: center; /* Căn giữa nội dung nút */
  text-decoration: none; /* Loại bỏ gạch chân */
  display: inline-block; /* Hiển thị như block */
  font-size: 16px; /* Kích thước chữ */
  margin: 4px 2px; /* Khoảng cách xung quanh nút */
  transition-duration: 0.4s; /* Hiệu ứng chuyển đổi */
}
